NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_PASSWORD=

META_APP_ID=
META_APP_SECRET=
META_ACCESS_TOKEN=

META_AD_ACCOUNT_ID=

GA4_PROPERTY_ID=
GA4_SERVICE_ACCOUNT_JSON=


WISTIA_API_TOKEN=
WISTIA_MEDIA_ID=

CRON_SECRET=

ADMIN_EMAIL=admin@runmoreads.in
ADMIN_PASSWORD=tuleip1234

VIEWER_EMAIL=
VIEWER_PASSWORD=
ROLE_SECRET=

WEBSITE_INGEST_SECRET=
